@import'https://fonts.googleapis.com/css?family=Roboto';
 a {
    text-decoration: none !important;
}
a, button, .ui-menu li h3 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:none !important;
}
.margin-cero {
    top: 0 !important;
}
.modulos {
    display: flex;
    justify-content: flex-end !important;
    flex-flow: row wrap;
}
.modulos > a {
    margin-right: 10px;
}
.maximo {
    min-height: 550px;
}
.nav-derecha, header {
    align-items:center
}
header, header a:focus, header a:hover {
    color:#fff
}
aside, header {
    position:fixed
}
[class*=mpc-], a, main {
    position:relative
}
.nav-derecha, aside, header {
    display:flex
}
.letra, .text-center {
    text-align:center
}
*, a, canvas {
    outline:0
}
* {
    box-sizing:border-box;
    margin:0;
    padding:0
}
body, html {
    font-family:'Roboto', sans-serif;
    font-size:17px;
    color:#555;
    background:#f4f4f4
}
a {
    text-decoration:none
}
[class*=mpc-] {
    top:.1em;
    margin-right:.3em
}
header {
    justify-content:space-between;
    height:34px;
    width:100%;
    padding:0 8px 0 0;
    z-index:1000;
    background-color:#4a4a4a
}
header a {
    color:#fafafa
}
header a.mpc-menu {
    top:0;
    font-size:1.8em;
    padding-left:.2em
}
.nav-derecha {
    justify-content:flex-end
}
aside {
    height:100%;
    width:230px;
    top:34px;
    left:0;
    z-index:10;
    flex-wrap:wrap;
    align-content:flex-start;
    background-color:#ececec;
    box-shadow:1px 0 rgba(0, 0, 0, .1);
    transition:position, left .5s
}
main {
    padding:15px;
    top:44px;
    margin-left:240px;
    font-size:16px;
    transition:margin-left .5s
}
.aside-toggle {
    left:-250px;
    transition:position, left .5s
}
.main-toggle {
    margin-left:0;
    transition:margin-left .5s
}
@media only screen and (max-width:900px) {
    .aside-toggle, aside {
        position:fixed;
        transition:position, left .5s
    }
    aside {
        left:-230px
    }
    .aside-toggle {
        left:0
    }
    main {
        margin-left:0;
        transition:margin-left .5s
    }
}
.nav-derecha>* {
    margin-right:20px
}
.nav-derecha a:first-child, .nav-derecha a:nth-child(2) {
    font-size:1em
}
.nav-derecha .dropdown a:first-child {
    display:flex;
    align-items:center;
    margin-right:-20px!important;
    font-size:14px
}
.nav-derecha .dropdown>a:first-child * {
    margin-left:5px
}
.dropdown-menu * i {
    top:-1.2px
}
.nav-derecha .usuario-icono {
    display:inline-block;
    width:23px;
    height:23px;
    border-radius:50%;
    margin-right:5px
}
.super {
    background-image: url(../img/usuarios/x250/10m.jpg);
    background-size: 180%;
    background-position: center 20%;
}
.nav-derecha .usuario-icono img {
    width:100%;
    border-radius:50%
}
header .dropdown-menu {
    background:#fafafa;
    margin-top:5px;
    border-radius:0 0 0 5px;
    box-shadow:0 0 2px #444;
    padding:0;
    border:0;
    width:200px
}
header .dropdown-menu a {
    display:flex;
    align-items:center;
    color:#444;
    padding-left:5px!important
}
header .dropdown-menu a:hover {
    background:#16a085!important;
    color:#fff!important
}
.dropdown-menu>li>a>i {
    position:relative;
    top:.1em;
    margin-right:.2em
}
aside a {
    display:block;
    width:100%;
    padding:13px 0 13px 15px;
    font-size:14px;
    color:#555;
    background-color:#ececec;
    border-bottom:1px solid #ddd
}
aside a:hover {
    background:#f0f0f0
}
aside a.activo {
    box-shadow:-3px 0 #12856f inset;
    position:relative
}
aside a i{
    padding-right: 3px;
}
.main-header[class*=col-]:last-child>* {
    float:left
}
.caja {
    margin-bottom:20px
}
.caja.blanca {
    border-radius:3px;
    padding:20px;
    background:#fff;
    border:1px solid #ddd
}
.ui-menu {
    background:none;
    border:none;
    padding:0;
}
.ui-menu ul{
    padding:0 !important;
    background:blue;
    width: 230px;
}
.ui-menu li{
    min-width:230px !important;
    max-width:230px !important;
    background:#ececec !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    height:35px;
    padding:0px !important;
    border-bottom:1px solid lightgrey !important;
}
.ui-menu li a {
    display:flex !important;
    justify-content:flex-start;
    align-items:center;
    background:#8b8b8b;
    color:#f8f8f8;
    border-radius: 0 !important;
    min-width:230px !important;
    max-width:230px !important;
    height:35px;
    box-shadow: 0px -1px #ececec !important;
}
.ui-menu li a:hover {
    background:#818181;
    color:#fff;
}
.ui-state-hover {
    box-shadow:none !important;
}
.ui-menu li h3 {
    display:flex !important;
    align-items:center;
    min-width:230px !important;
    max-width:230px !important;
    font-size:16px !important;
    height:35px;
    font-weight:500;
}
.ui-menu li h3:hover {
    color:#428bca;
    box-shadow:inset 0px -1px lightgrey !important;
}

