.boton {
  display:inline-block;
  position:relative;
  border:none;
  cursor:pointer;
  color: #444;
  border-radius: 1px;
  padding:10px 40px;
  box-sizing:border-box;
  text-decoration:none;
  text-shadow:0px 1px rgba(0,0,0,.2);
  transition: .2s;
  margin:2px;
}
[class*="boton boton-"] {
  color:#fff;
}
.boton-rojo {
  background:#e74c3c;
}

.boton-verde {
  background:#2ecc71;
}
.boton:before,
.boton:after {
  content:"";
  position:absolute;
  display:block;
  width:0%;
  height:3px;
  transition:.5s;
  bottom:0px;
  background:RGBA(0,0,0,.24);
}
.boton:after {
  right:50%;
  z-index:10;
}
.boton:before {
  
  left:50%;
  z-index:10;
}
.boton:hover:before {
  width:50%;
  transition: .5s;
}
.boton:hover:after {
  width:50%;
  transition: .5s
}

.boton-amarillo {
  background:#F9BF3B;
}

.boton-azul{
  background:#00A1CB;
}
.boton-negro {
  background:#5E626C;
}
.boton-purpura{
  background:#9b59b6;
}

.boton-xs {
  padding:5px 20px; 
  font-size:.87em;
}
.boton-sm {
  padding:8px 30px;
  font-size:.95em;
}
.boton-lg {
  padding:12px 50px;
  font-size:1.07em;
}
.boton:focus,
.boton:active {
  outline:none;
}