fieldset {
    border:1px solid #e1e1e1;
    padding:10px;
}
fieldset legend {
    color:#aaa;
    margin-left:10px;
}
.form-horizontal table {
    width:100%;
}
.form-horizontal table tr {
    display:flex;
    justify-content:space-between;
    box-shadow:0px -1px #eaeaea;
}
.form-horizontal table tr td {
    flex-basis:60%;
    width:60%;
    max-width:60%;
    display:flex;
    padding:0px 10px;
}
.form-horizontal table tr td label,
.form-horizontal table tr td input,
.form-horizontal table tr td input,
.form-horizontal table tr td select {
    width:100%;
}
.form-horizontal table tr td input,
.form-horizontal table tr td select {
    margin:8px 0px;
}
.form-horizontal table tr td:nth-child(even) {
    display:flex;
    flex-direction:column-reverse;
}
.form-horizontal table tr td:nth-child(even) span {
    color:#c0392b;
    font-size:.9em;
    padding-bottom:8px;
}
.form-horizontal table tr td input,
.form-horizontal table tr td input,
.form-horizontal table tr td select{
    background:none;
    border:1px solid #e1e1e1;
    padding:8px 10px;
    flex-basis:100%;
    width:100%;
    max-width:100%;
    color:#777;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-horizontal table tr td:nth-child(odd) {
    flex-basis:40%;
    padding-top:12px;
    width:40%;
    max-width:40%;
}
.form-horizontal table tr td label {
    color:#666;
    text-align:right;
    font-size:14px;
    max-width:200px;
}
.form-horizontal table tr td input:focus,
.form-horizontal table tr td input:active,
.form-horizontal table tr td select:focus,
.form-horizontal table tr td select:active {
    border-color:#8dc63f;
    outline: none;
    box-shadow:none;
}
@media only screen and (max-width: 59em) {
    .form-horizontal table tr {
        flex-direction:column;
    }
    .form-horizontal table tr td {
        flex-basis:100%;
        width:100%;
        max-width:100%;
    }
    .form-horizontal table tr td label {
        text-align:left;
    }
    .form-horizontal table tr td:first-child {
        flex-basis:100%;
        width:100%;
        max-width:100%;
    }
}
.form-horizontal .boton {
    max-width:100%;
    width:calc(100% - 20px);
    text-align:center;
    padding:8px;
    box-sizing:border-box;
    margin:10px;
}

.form-horizontal td .boton {
    width:100%;
    margin:10px 0px;
}

.descripcion-horizontal td {
    color:#444;
    padding:10px;
}