@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}
cancas,
noselectuser 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:none !important;
}

body {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color:#2ecc71;
}
a.blanco{
    color:#2ecc71;
    text-shadow:0px -1px #4EDDA4;
}
p {
   color:#666;
}
header {
    width:100%;
    height:34px;
    background:#414755;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo {
    display:flex;
    align-items:center;
}
header .mover-aside-i {
    color: white;
    padding:9px;
    cursor:pointer;
    background:#313745;
}
header .logo a {
    font-size: 1.3em;
    padding-left:15px;
    color:#fff;
    font-weight: bold;
}

header .logo a span{
    font-weight: 100;
}

header .usuario {
    margin-right:15px;
}
header .usuario h4 {
    color:#D8D9DE;
    font-weight: 500;
}
header .usuario h4 i {
    padding-right:4px;
    position:relative;
    top:-1px;
}
.contenido {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    min-height:calc(100vh - 34px);
}

aside {
    width:210px;
    max-width: 210px;
    position: absolute;
    min-height:calc(100vh - 34px);
    display:none;
    background: #5E626C;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    z-index: 3;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}
main {
    width:200px;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    background-color: #f1f1f1;
    max-width: 100%;
}

ul.nav li {
    list-style: none;
}

ul.nav li a {
    color:#D8D9DE;
    display:flex;
    align-items:center;
    padding:10px;
    font-size: .9em;
    border-bottom: .5px solid #4E525C;
    transition: 0.2s;
}
ul.nav li a i {
    padding-right: 5px;
}

ul.nav li a:hover,
ul.nav li a.activo {
    color:#fff;
    padding-left:15px;
    box-shadow: 5px 0px #FFD074 inset;
}

form.responsive{
    max-width:100%;
    overflow-x:scroll;
}

@media only screen and (min-width: 60em) {
    aside {
        display:block !important;
        position:static;
    }
    .mover-aside-i {
        display: none;
    }
    main .cabezera {
        display: flex;
        align-items:center;
        flex-direction:row;
        justify-content:space-between;
    }
    main .cabezera .titulo-descripcion p {
        display: block !important;
    }
}

main .cabezera {
    background: #f8f8f8;
    padding: 3px 15px;
    box-shadow: 0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed;
}
main .cabezera .titulo-descripcion h1 {
    margin: 0;
    padding:0;
    font-size: 1.5em;
    color:#666;
}
main .cabezera .titulo-descripcion p {
    display: none;
    font-size:.84em;
}

main .cabezera #breadcrumb a{
    color:#aaa;
    font-size:.96em;
    padding-right:15px;
    display:inline-block;
    position:relative;
}
main .cabezera #breadcrumb a:before {
    content:"/";
    position:absolute;
    display:block;
    right:5px;
}
main .cabezera #breadcrumb a:hover {
    color:#888;
}
main .cabezera #breadcrumb span {
    color:#5E626C;
    font-size:.96em;
    padding-right:15px;
}

.panel {
    background: #fff;
    border-radius: 1px;
    margin: 10px 0px;
    box-shadow: 0px 0px 1px #888;
}
.panel > .titulo-panel {
    padding:5px 10px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    box-shadow: 0px 1px #ddd;
}
.panel > .alerta-panel {
    
}
.panel.panel-transparente {
    background:none;
    box-shadow:none;
}
[class*="panel panel-"] > .titulo-panel,
[class*="panel panel-"] > .footer-panel {
    color:#fff;
}

.panel.panel-negro > .titulo-panel,
.panel.panel-tabla.panel-negro .dataTables_wrapper .dataTables_filter,
.panel.panel-tabla.panel-negro .dataTables_wrapper .dataTables_botones,
.panel.panel-tabla.panel-negro .dataTables_wrapper .dataTables_length,
.panel.panel-negro > .footer-panel{
    color:#fff;
    background-color: #5E626C;
}
.panel.panel-info > .titulo-panel,
.panel.panel-tabla.panel-info .dataTables_wrapper .dataTables_filter,
.panel.panel-tabla.panel-info .dataTables_wrapper .dataTables_botones,
.panel.panel-tabla.panel-info .dataTables_wrapper .dataTables_length,
.panel.panel-info > .footer-panel{
    color:#fff;
    background-color: #00A1CB;
}
.panel.panel-purpura > .titulo-panel,
.panel.panel-tabla.panel-purpura .dataTables_wrapper .dataTables_filter,
.panel.panel-tabla.panel-purpura .dataTables_wrapper .dataTables_botones,
.panel.panel-tabla.panel-purpura .dataTables_wrapper .dataTables_length,
.panel.panel-purpura > .footer-panel{
    color:#fff;
    background-color: #9b59b6;
}
.panel.panel-danger > .titulo-panel,
.panel.panel-tabla.panel-danger .dataTables_wrapper .dataTables_filter,
.panel.panel-tabla.panel-danger .dataTables_wrapper .dataTables_botones,
.panel.panel-tabla.panel-danger .dataTables_wrapper .dataTables_length,
.panel.panel-danger > .footer-panel{
    color:#fff;
    background-color: #EC644B;
}
.panel.panel-warning > .titulo-panel,
.panel.panel-tabla.panel-warning .dataTables_wrapper .dataTables_filter,
.panel.panel-tabla.panel-warning .dataTables_wrapper .dataTables_botones,
.panel.panel-tabla.panel-warning .dataTables_wrapper .dataTables_length,
.panel.panel-warning > .footer-panel{
    color:#fff;
    background-color: #F9BF3B;
}
.panel.panel-success > .titulo-panel,
.panel.panel-tabla.panel-success .dataTables_wrapper .dataTables_filter,
.panel.panel-tabla.panel-success .dataTables_wrapper .dataTables_botones,
.panel.panel-tabla.panel-success .dataTables_wrapper .dataTables_length,
.panel.panel-success > .footer-panel{
    color:#fff;
    background-color: #2ecc71;
}
.panel.panel-grey > .titulo-panel,
.panel.panel-tabla.panel-grey .dataTables_wrapper .dataTables_filter,
.panel.panel-tabla.panel-grey .dataTables_wrapper .dataTables_botones,
.panel.panel-tabla.panel-grey .dataTables_wrapper .dataTables_length,
.panel.panel-grey > .footer-panel{
    color:#fff;
    background-color: #95a5a6;
}
.panel > .contenido-panel {
    padding:10px;
}
.panel > .footer-panel {
    padding:10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px #ddd;
}
.panel.panel-tabla,
.panel.panel-tabla .contenido-panel,
.panel.panel-tabla .dataTables_wrapper {
    padding:0;
}
.panel.panel-tabla .dataTables_wrapper table thead tr th{
    padding:0px 5px;
}
.panel.panel-tabla .dataTables_wrapper table {
    padding:10px;
    box-sizing:border-box;
    margin:0px;
}
.panel.panel-tabla.panel-negro .dataTables_wrapper .dataTables_botones{
    border-top-right-radius:1px;
    border-top-left-radius:1px;
}
.panel.panel-tabla .dataTables_wrapper .dataTables_filter {
    border-top-right-radius:1px;
}
.panel.panel-tabla .dataTables_wrapper .dataTables_length {
    border-top-left-radius:1px;
}

.crops {
    display:flex;
    align-items:center;
}
.crops form {
    margin-right:10px;
    max-height:40px;
}

/*Alertas*/

.alerta {
    list-style: none;
    padding: 10px 29px 10px 10px;
    font-size: 13px;
    line-height: 1.42857143;
    margin-bottom: 10px;
    border: 1px solid transparent;
    position:relative;
    text-shadow:0px 1px rgba(0,0,0,.2);
    border-radius: 0;
    box-sizing:border-box;
}
.alerta-global {
    margin-bottom: 0px;
}
.alerta i.cerrar-alerta {
    position:absolute;
    right:0px;
    top:-1px;
    cursor:pointer;
    padding:12px;
}
.alerta strong {
    font-weight:bold;
    padding-right:5px;
}
.alerta span {
    font-weight:100;
}
.alerta-info {
    background-color:#3498DB;
    border-color:#3498DB;
    color:white;
}
.alerta-danger {
    background-color:#EC644B;
    color:white;
    border-color:#EC644B;
}
.alerta-warning {
    background-color: #F9BF3B;
    border-color:#F9BF3B;
    color:#fff;
}
.alerta-fatal {
    background-color:#c0392b;
    color:white;
    border-color:#c0392b;
}
.alerta-success {
    background-color:#8dc63f;
    color:white;
    border-color:#8dc63f;
}