<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="scripts">
        <script>
            $(document).ready(function () {
                $('#tabla-ficha-tecnica').DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    </ui:define>
    <ui:define name="contenido-main">
        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(11)}"/>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-negro panel-tabla">
                <div class="titulo-panel">
                    <i class="fa fa-file-text"></i>  Ficha técnica
                </div>
                <div class="contenido-panel">
                    <h:form class="form-horizontal" >
                        <h:panelGrid columns="2">
                            <h:outputLabel value="EstadoVehiculo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.estadoVehiculo}" title="EstadoVehiculo" />
                            <h:outputLabel value="Matricula:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.matricula}" title="Matricula"/>
                            <h:outputLabel value="Modelo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.modelo}" title="Modelo"/>
                            <h:outputLabel value="Marca:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.marca}" title="Marca"/>
                            <h:outputLabel value="Color:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.color}" title="Color"/>
                            <h:outputLabel value="Número chasis:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.numeroChasis}" title="NumeroChasis"/>
                            <h:outputLabel value="Tonelaje máximo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.tonelajeMax}" title="TonelajeMax"/>
                            <h:outputLabel value="Kilometraje:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.kilometraje}" title="Kilometraje"/>
                            <h:outputLabel value="Combustible:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.combustible}" title="Combustible"/>
                            <h:outputLabel value="Foto del vehículo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.fotoVehiculo}" title="FotoVehiculo"/>
                            <h:outputLabel value="Ciudad:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.idCiudad.nombreCiudad}" title="IdCiudad"/>
                            <h:outputLabel value="Tipo de vehículo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.idTipoVehiculo.nombreTipoVehiculo}" title="IdTipoVehiculo"/>
                            <h:link class="boton boton-verde" value="Asignar orden" outcome="/protegido/orden/vehiculo/registrarorden" rendered="#{fichaTecnicaControlador.vehiculoFicha.estadoVehiculo == 5 and permisosSessionControlador.tienePermiso(12)}"/>
                        </h:panelGrid>
                    </h:form>
                </div>
            </div>
        </div>
                <div class="col-xs-12 col-md-6">
            <div class="panel panel-negro panel-tabla">
                <div class="titulo-panel">
                    <i class="fa fa-file-text"></i>  Ficha técnica
                </div>
                <div class="contenido-panel">
                    <h:form class="form-horizontal" >
                        <h:panelGrid columns="2">
                            <h:outputLabel value="EstadoVehiculo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.estadoVehiculo}" title="EstadoVehiculo" />
                            <h:outputLabel value="Matricula:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.matricula}" title="Matricula"/>
                            <h:outputLabel value="Modelo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.modelo}" title="Modelo"/>
                            <h:outputLabel value="Marca:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.marca}" title="Marca"/>
                            <h:outputLabel value="Color:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.color}" title="Color"/>
                            <h:outputLabel value="Número chasis:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.numeroChasis}" title="NumeroChasis"/>
                            <h:outputLabel value="Tonelaje máximo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.tonelajeMax}" title="TonelajeMax"/>
                            <h:outputLabel value="Kilometraje:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.kilometraje}" title="Kilometraje"/>
                            <h:outputLabel value="Combustible:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.combustible}" title="Combustible"/>
                            <h:outputLabel value="Foto del vehículo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.fotoVehiculo}" title="FotoVehiculo"/>
                            <h:outputLabel value="Ciudad:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.idCiudad.nombreCiudad}" title="IdCiudad"/>
                            <h:outputLabel value="Tipo de vehículo:"/>
                            <h:outputLabel value="#{fichaTecnicaControlador.vehiculoFicha.idTipoVehiculo.nombreTipoVehiculo}" title="IdTipoVehiculo"/>
                            <h:link class="boton boton-verde" value="Asignar orden" outcome="/protegido/orden/vehiculo/registrarorden" rendered="#{fichaTecnicaControlador.vehiculoFicha.estadoVehiculo == 5 and permisosSessionControlador.tienePermiso(12)}"/>
                        </h:panelGrid>
                    </h:form>
                </div>
            </div>
        </div>
        

            <f:view>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-negro panel-tabla">
                             <div class="titulo-panel">
                    <i class="fa fa-file-text"></i>  Asignar Componente
                </div>
                            <div class="contenido-panel">
                                <h:form class="form-horizontal">
                                    <h:panelGrid columns="2">
                                    <h:dataTable value="#{fichaTecnicaControlador.listaComponentesVehiculo()}" var="item" id="tabla-asignar">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputLabel value="Ultima fecha del cambio"/>
                                            </f:facet>
                                            <h:outputLabel value="#{item.ultimaFechaCambio}">
                                                <f:convertDateTime pattern="MM/dd/yyyy" />
                                            </h:outputLabel>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputLabel value="Vehiculo"/>
                                            </f:facet>
                                            <h:outputLabel value="#{item.idVehiculo}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputLabel value="Componente"/>
                                            </f:facet>
                                            <h:outputLabel value="#{item.idComponente.nombreComponente}"/>
                                        </h:column>
                                    </h:dataTable>
                                    <h:button value="Asignar componentes" outcome="/protegido/componente/vehiculo/asignarcomponente"/>
                                </h:panelGrid>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </f:view>

        <f:view>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="panel panel-negro panel-tabla">
                        <div class="contenido-panel">
                            <h:form class="form-horizontal" prependId="false">
                                <h1><h:outputLabel value="Ordén del vehículo"/></h1>
                                <h:dataTable value="#{fichaTecnicaControlador.listarOrdenesPorTipoPorEstado(1,2)}" var="item" id="tabla-ficha-tecnica">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputLabel value="Tipo de ordén"/>
                                        </f:facet>
                                        <h:outputLabel value="#{ordenControlador.tipoOrden(item.tipoOrden)}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputLabel value="Estado de ordén"/>
                                        </f:facet>
                                        <h:outputLabel value="#{ordenControlador.estadoOrden(item.estadoOrden)}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputLabel value="Fecha de emisión"/>
                                        </f:facet>
                                        <h:outputLabel value="#{ordenControlador.fechaEmisionCaracteres(item.fechaEmision)}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputLabel>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputLabel value="Plazo máximo"/>
                                        </f:facet>
                                        <h:outputLabel value="#{ordenControlador.fechaEmisionCaracteres(item.plazoMaximo)}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputLabel>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputLabel value="Motivo"/>
                                        </f:facet>
                                        <h:outputLabel value="#{item.idMotivo.motivo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputLabel value="Usuario"/>
                                        </f:facet>
                                        <h:outputLabel value="#{item.idUsuario.nombres}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputLabel value="Vehículo"/>
                                        </f:facet>
                                        <h:outputLabel value="#{item.idVehiculo.matricula}"/>
                                        <h:button value="Activar orden"/>
                                    </h:column>
                                </h:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </f:view>

    </ui:define>
</ui:composition>
