<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="scripts">
        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(12)}"/>
        <h:outputStylesheet name="css/libs/datepicker.min.css"/>
        <h:outputScript name="js/datepicker.min.js"/>
        <h:outputScript name="js/datepicker.es.js"/>
    </ui:define>
    
    <ui:define name="breadcrumb">
        <h:link value="inicio"/>
        <span>Registro de ordenes</span>
    </ui:define>
    
    <ui:define name="contenido-main">
            <h:messages showSummary="true" showDetail="true"/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 center-lg" >
                        <div class="panel panel-negro">
                            <div class="titulo-panel">
                                <i class="fa fa-file-text"></i> Registro ordén
                            </div>
                            <div class="contenido-panel">
                                <h:form class="form-horizontal" prependId="false">
                                    <h:panelGrid columns="2">
                                        <h:outputLabel value="Tipo orden" />
                                        <h:selectOneMenu value="#{registrarOrdenControlador.orden.tipoOrden}" title="Tipo orden" required="true" requiredMessage="Es necesario seleccionar un tipo de orden" validatorMessage="Es necesario seleccionar un tipo de orden">
                                            <f:selectItem itemLabel="Seleccionar tipo de orden" itemValue="null"/>
                                            <f:selectItem itemValue="1" itemLabel="Mantenimiento"/>
                                            <f:selectItem itemValue="2" itemLabel="Revisión"/>
                                        </h:selectOneMenu>
                                        <h:outputLabel value="Motivo:" for="idMotivo" />
                                        <h:selectOneMenu id="idMotivo" value="#{registrarOrdenControlador.orden.idMotivo}" title="Motivo de orden" required="true" requiredMessage="Es necesario seleccionar una motivo para la emisión de la orden">
                                            <f:selectItem itemLabel="Seleccionar motivo para su emisión" itemValue="null"/>
                                            <f:selectItems value="#{motivosOrdenControlador.listarMotivoOrden()}" var="lM" itemLabel="#{lM.motivo}"/>
                                        </h:selectOneMenu>
                                        <h:outputLabel value="Plazo maximo:" for="plazoMaximo" />
                                        <h:inputText  id="plazoMaximo" value="#{registrarOrdenControlador.orden.plazoMaximo}" title="Plazo máximo" required="true" requiredMessage="Se requiere asignar un plazo máximo para aceptar la orden">
                                            <f:convertDateTime  pattern="dd/mm/yyyy" />
                                        </h:inputText>
                                    </h:panelGrid>
                                    <script>
                                        $('#plazoMaximo').datepicker({
                                            language : "es",
                                            minDate: new Date()
                                        })
                                    </script>
                                    <h:commandLink class="boton boton-azul" action="#{registrarOrdenControlador.registrarOrden()}"><i class="fa fa-check"></i> Asignar orden</h:commandLink>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ui:define>
</ui:composition>
