<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
     <ui:define name="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#lista-componentes').DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    </ui:define>


    <ui:define name="titulo-pagina">
        Lista de componentes
    </ui:define>

    <ui:define name="descripcion-pagina">
        Contiene la lista de los componentes de los vehículos.
    </ui:define>

    <ui:define name="breadcrumb">
        <h:link value="inicio"/>
        <span>Lista componentes</span>
                  
    </ui:define>
            <ui:define name="contenido-main">
                <div class="container">
                     <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-negro panel-tabla">
                        <div class="contenido-panel">
                             <h:form prependId="false">
                                        <h:dataTable value="#{componenteControlador.listaComponentes()}" var="item" id="lista-componentes">
                                            
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Nombre Componente"/>
                                                </f:facet>
                                                <h:outputText value="#{item.nombreComponente}" id="name"/>
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Vida Util"/>
                                                </f:facet>
                                                <h:outputText value="#{item.vidaUtil}"/>
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Años-Meses"/>
                                                </f:facet>
                                                <h:outputText value="#{item.aniosMeses}"/>
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Foto Componente"/>
                                                </f:facet>
                                                <h:outputText value="#{item.fotoComponente}"/>
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Categortia del componente"/>
                                                </f:facet>
                                                <h:outputText value="#{item.idCategoriaComponenteComponente}"/>
                                            </h:column>
                                        </h:dataTable>
                                    </h:form>
                        </div>
                    </div>

                </div>
            </div>
                </div>
    </ui:define>
</ui:composition>
