<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">
     
  <ui:define name="scripts">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $("#tabla-usuarios").DataTable();
                    });
                </script>
            </ui:define>
            <ui:define name="mensajes">
                <div class="alerta alerta-success alerta-global">
                    <strong>¡Éxito!: </strong><span>Usuario registrado con éxito.</span>
                    <i class="fa fa-close cerrar-alerta" onclick="this.parentElement.style.display = 'none';"></i>
                </div>
            </ui:define>

            <ui:define name="titulo-pagina">
                Inicio
            </ui:define>

            <ui:define name="descripcion-pagina">
                Contiene los modulos del sistema
            </ui:define>

            <ui:define name="breadcrumb">
                <h:link value="inicio"/>
                <h:link value="Usuarios"/>
                <span>Nuevo usuario</span>
            </ui:define>

            <ui:define name="contenido-main">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 grafica">
                            <div clasS="box panel">
                                <div class="titulo-panel">
                                    Grafica
                                </div>
                                <div class="contenido-panel">

                                    <h:form id="grafica">
                                        <canvas id="myChart" width="400" height="400"></canvas>
                                        <script>
                                            var ctx = document.getElementById("myChart");
                                            var myDoughnutChart = new Chart(ctx, {
                                                type: 'doughnut',
                                                data: {
                                                    labels: ["Java", "PHP", "Python"],
                                                    datasets: [{
                                                            label: '# of Votes',
                                                            data: [#{graficaControler.java}, #{graficaControler.php}, #{graficaControler.python}],
                                                            backgroundColor: [
                                                                'rgba(255, 99, 132, 1)',
                                                                'rgba(54, 162, 235, 1)',
                                                                'rgba(255, 206, 86, 1)'
                                                            ],
                                                            borderWidth: 1
                                                        }]
                                                }
                                            });
                                        </script>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div class="panel panel-success">
                                <div class="titulo-panel">
                                    Formulario
                                </div>
                                <div class="contenido-panel">
                                    <h:form>
                                        <h:outputLabel value="Java" for="java"/>
                                        <h:inputText id="java" value="#{graficaControler.java}"/>
                                        <h:outputLabel value="PHP" for="php"/>
                                        <h:inputText id="php" value="#{graficaControler.php}"/>
                                        <h:outputLabel value="Python" for="python"/>
                                        <h:inputText id="python" value="#{graficaControler.python}"/>
                                        <h:commandLink class="boton boton-azul"><i class="fa fa-send"></i> Asignar Valores
                                            <f:ajax execute="@form" listener="#{graficaControler.actualizarGrafica()}"/>
                                        </h:commandLink>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="panel panel-negro panel-tabla">
                                <div class="contenido-panel">
                                    <h:form prependId="false">
                                        <h:dataTable value="#{usuarioControlador.listaUsuario()}" var="item" id="tabla-usuarios">
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="NumeroCedula"/>
                                                </f:facet>
                                                <h:outputText value="#{item.numeroCedula}"/>
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Nombres"/>
                                                </f:facet>
                                                <h:outputText value="#{item.nombres} #{item.apellidos}"/>
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText value="CorreoElectronico"/>
                                                </f:facet>
                                                <h:outputText value="#{item.correoElectronico}"/>
                                            </h:column>
                                        </h:dataTable>
                                    </h:form>
                                </div>
                            </div>
                            <div class="panel panel-negro">
                                <div class="titulo-panel">
                                    Botones
                                </div>
                                <div class="contenido-panel">
                                    <h:link class="boton boton-azul boton-xs"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-azul boton-sm"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-azul"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-azul boton-lg"><i class="fa fa-home"></i> Inicio</h:link>
                                    <br />
                                    <h:link class="boton boton-amarillo boton-xs"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-amarillo boton-sm"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-amarillo"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-amarillo boton-lg"><i class="fa fa-home"></i> Inicio</h:link>
                                    <br />
                                    <h:link class="boton boton-negro boton-xs"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-negro boton-sm"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-negro"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-negro boton-lg"><i class="fa fa-home"></i> Inicio</h:link>
                                    <br />
                                    <h:link class="boton boton-purpura boton-xs"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-purpura boton-sm"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-purpura"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-purpura boton-lg"><i class="fa fa-home"></i> Inicio</h:link>
                                    <br />
                                    <h:link class="boton boton-rojo boton-xs"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-rojo boton-sm"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-rojo"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-rojo boton-lg"><i class="fa fa-home"></i> Inicio</h:link>
                                    <br />
                                    <h:link class="boton boton-verde boton-xs"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-verde boton-sm"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-verde"><i class="fa fa-home"></i> Inicio</h:link>
                                    <h:link class="boton boton-verde boton-lg"><i class="fa fa-home"></i> Inicio</h:link>
                                </div>
                            </div>
                            <div class="panel panel-negro">
                                <div class="titulo-panel">
                                    <h3>Alertas</h3>
                                </div>
                                <div class="contenido-panel">
                                    <div class="alerta alerta-success">
                                        <strong>¡Ciudado!: </strong><span>Alerta danger</span>
                                    </div>
                                    <div class="alerta alerta-danger">
                                        <strong>¡Ciudado!: </strong><span>Alerta danger</span>
                                    </div>
                                    <div class="alerta alerta-info">
                                        <strong>¡Exito!: </strong><span>Alerta info</span>
                                    </div>
                                    <div class="alerta alerta-warning">
                                        <strong>¡Advertencia!: </strong><span>Alerta warning</span>
                                    </div>
                                    <div class="alerta alerta-fatal">
                                        <strong>¡Error!: </strong><span>Alerta fatal</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="panel panel-info">
                                <div class="titulo-panel">
                                    <h3>Tabla 2</h3>
                                </div>
                                <div class="contenido-panel">
                                </div>
                            </div>
                            <div class="panel panel-purpura">
                                <div class="titulo-panel">
                                    <h3>Tabla 2</h3>
                                </div>
                                <div class="contenido-panel">
                                </div>
                            </div>
                            <div class="panel panel-warning">
                                <div class="titulo-panel">
                                    <h3>Tabla 2</h3>
                                </div>
                                <div class="contenido-panel">
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="titulo-panel">
                                    <h3>Tabla 2</h3>
                                </div>
                                <div class="contenido-panel">
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="titulo-panel">
                                    <h3>Tabla 3</h3>
                                </div>
                                <div class="contenido-panel">
                                </div>
                            </div>
                            <div class="panel panel-grey">
                                <div class="titulo-panel">
                                    <h3>Tabla 4</h3>
                                </div>
                                <div class="contenido-panel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>

</ui:composition>
