<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tabla-componentes').DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    </ui:define>


    <ui:define name="titulo-pagina">
        Lista de usuarios
    </ui:define>

    <ui:define name="descripcion-pagina">
        Contiene la lista de los usuarios.
    </ui:define>

    <ui:define name="breadcrumb">
        <h:link value="inicio"/>
        <span>Lista de usuarios</span>
    </ui:define>

    <ui:define name="contenido-main">
        <div class="container">
            <div class="row start-xs">
                <div class="panel panel-transparente col-xs-12  end-xs">
                    <h:link class="boton boton-verde boton-sm" outcome="/protegido/usuario/registrarusuario.mpc" rendered="#{permisosSessionControlador.tienePermiso(13)}"><i class="fa fa-plus fa-fw"></i>Registrar usuario </h:link>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="panel panel-negro panel-tabla">
                        <div class="contenido-panel">
                            <h:form prependId="false" rendered="#{permisosSessionControlador.tienePermiso(1)}">
                                <h:dataTable value="#{usuarioControlador.listaUsuario()}" var="item" id="tabla-componentes">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nombres"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nombres}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Apellidos"/>
                                        </f:facet>
                                        <h:outputText value="#{item.apellidos}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Fecha de nacimiento"/>
                                        </f:facet>
                                        <h:outputText value="#{usuarioControlador.calcularEdad(usuario)}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Correo eléctronico"/>
                                        </f:facet>
                                        <h:outputText value="#{item.correoElectronico}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Rol"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idRol.nombreRol}"/>
                                    </h:column>
                                </h:dataTable>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Ciudad"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idCiudad.nombreCiudad}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Foto"/>
                                        </f:facet>
                                        <h:outputText value="#{item.fotoPerfil}"/>
                                    </h:column>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
