<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="foto-perfil">
        <h:form style="max-width: 40px; display: flex; flex-basis: 40px">
            <h:panelGrid rendered="#{usuarioSesionControlador.idFoto()}" class="max-width:40px">
                <h:graphicImage style="max-width: 40px" name="#{usuarioSesionControlador.usuarioSesion.fotoPerfil}"/>
            </h:panelGrid>
        </h:form>                            
    </ui:define>
    <ui:define name="titulo-pagina">
        Panel usuarios
    </ui:define>
    <ui:define name="descripcion-pagina">
        #{usuarioSesionControlador.usuarioSesion.nombres} #{usuarioSesionControlador.usuarioSesion.apellidos}
    </ui:define>
    <ui:define name="breadcrumb">
        <h:link value="inicio" outcome="/protegido/usuario/perfil"/>
        <h:link value="usuarios" outcome="/protegido/usuario/listausuarios"/>
        <span>Panel usuario</span>
    </ui:define>
    <ui:define name="contenido-main">
        <h:messages showDetail="true" showSummary="true"/>
        <h:message id="nuevaclave" for="nuevac" showDetail="true" showSummary="true"/>
        <div class="container">
            <div class="row start-xs">
                <div class="panel panel-transparente col-xs-12 end-xs">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-negro panel-tabla">
                        <div class="titulo-panel">
                            <i class="fa fa-user"></i> Información personal
                        </div>
                        <div class="contenido-panel">
                            <h:form class="form-horizontal">
                                <h:panelGrid columns="2">
                                    <h:outputText value="Número cedula:"/>
                                    <h:outputText value="#{usuarioSesionControlador.usuarioSesion.numeroCedula}" title="NumeroCedula"/>
                                    <h:outputText value="Nombres:"/>
                                    <h:outputText value="#{usuarioSesionControlador.usuarioSesion.nombres} #{usuarioSesionControlador.usuarioSesion.apellidos}" title="Apellidos"/>
                                    <h:outputText value="Fecha de nacimiento:"/>
                                    <h:outputText value="#{usuarioControlador.calcularEdad(usuarioSesionControlador.usuarioSesion)}" title="FechaNacimiento"/>
                                    <h:outputText value="Correo eléctronico:"/>
                                    <h:outputText value="#{usuarioSesionControlador.usuarioSesion.correoElectronico}" title="CorreoElectronico"/>
                                    <h:outputText value="Ciudad:"/>
                                    <h:outputText value="#{usuarioSesionControlador.usuarioSesion.idCiudad.nombreCiudad}" title="IdCiudad"/>
                                    <h:outputText value="Rol:"/>
                                    <h:outputText value="#{usuarioSesionControlador.usuarioSesion.idRol.nombreRol}" title="IdRol"/>
                                </h:panelGrid>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-info">
                        <div class="titulo-panel">
                            <i class="fa fa-key"></i> Actualizar Datos
                        </div>
                        <div class="contenido-panel">
                            <h:form class="form-horizontal">
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Contraseña actual"/>
                                    <h:inputSecret value="#{claveControlador.claveActual}"/>
                                    <h:outputLabel for="nuevac" value="Nueva constraseña"/>
                                    <h:inputSecret id="nuevac" value="#{claveControlador.nuevaClave}"/>
                                    <h:outputLabel value="Clave de confirmación"/>
                                    <h:inputSecret value="#{claveControlador.confirmaClave}"/>
                                </h:panelGrid>
                                <h:commandLink type="submit" class="boton boton-verde" action="#{claveControlador.actualizaClave()}"><i class="fa fa-check fa-fw"></i>Actualizar Contraseña</h:commandLink>
                            </h:form>
                        </div>
                        <div class="contenido-panel">
                            <h:form enctype="multipart/form-data" class="form-horizontal">
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Cambiar Imagen"/>
                                    <h:inputFile value="#{cambiarFotoPerfilControlador.file}"></h:inputFile>
                                </h:panelGrid>
                                <h:commandButton class="boton boton-verde" action="#{cambiarFotoPerfilControlador.actualizarFotoPerfil()}" value="enviar"></h:commandButton>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>


