<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="breadcrumb">
        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(13)}"/>
        <h:link outcome="listausuarios.mpc" value="Inicio" />
        <h:link outcome="listausuarios.mpc" value="Lista de usuarios"/>
        <span>Registrar Usuario</span>
    </ui:define>
    <ui:define name="scripts">
        <h:outputStylesheet name="css/libs/datepicker.min.css"/>
        <h:outputScript name="js/datepicker.min.js"/>
        <h:outputScript name="js/datepicker.es.js"/>
    </ui:define>
    

 

    <ui:define name="contenido-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 center-lg" >
                    <div class="panel panel-negro">
                        <div class="titulo-panel">
                            <i class="fa fa-user"></i> Registro del usuario
                        </div>
                        <div class="contenido-panel">
                            <h:form class="form-horizontal" prependId="false">
                                <h1><h:outputText/></h1>
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Numero cedula:" for="numeroCedula" />
                                    <h:inputText id="numeroCedula" value="#{usuarioControlador.usuario.numeroCedula}" title="NumeroCedula" required="true" requiredMessage="The NumeroCedula field is required.">
                                    </h:inputText>
                                    <h:outputLabel value="Nombres:" for="nombres" />
                                    <h:inputText id="nombres" value="#{usuarioControlador.usuario.nombres}" title="Nombres" required="true" requiredMessage="The Nombres field is required."/>
                                    <h:outputLabel value="Apellidos:" for="apellidos" />
                                    <h:inputText id="apellidos" value="#{usuarioControlador.usuario.apellidos}" title="Apellidos" required="true" requiredMessage="The Apellidos field is required."/>
                                    <h:outputLabel value="Fecha de nacimiento:" for="fechaNacimiento" />
                                    <h:inputText id="fechaNacimiento" value="#{usuarioControlador.usuario.fechaNacimiento}" title="FechaNacimiento" required="true" requiredMessage="The FechaNacimiento field is required.">
                                        <f:convertDateTime pattern="dd/mm/yyyy" />
                                    </h:inputText>
                                    <h:outputLabel value="Teléfono:" for="telefono" />
                                    <h:inputText id="telefono" value="#{usuarioControlador.telefonoUsuario.telefono}"/>
                                    <h:outputLabel value="Correo eléctronico:" for="correoElectronico" />
                                    <h:inputText id="correoElectronico" value="#{usuarioControlador.usuario.correoElectronico}" title="CorreoElectronico" required="true" requiredMessage="The CorreoElectronico field is required.">
                                    </h:inputText>
                                    <h:outputLabel value="Ciudad:" for="idCiudad" />
                                    <h:selectOneMenu id="idCiudad" value="#{usuarioControlador.usuario.idCiudad}" title="IdCiudad" >
                                        <!-- TODO: update below reference to list of available items-->
                                        <f:selectItems value="#{ciudadControlador.listaCiudades()}" var="ciudad" itemLabel="#{ciudad.nombreCiudad}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Rol:" for="idRol" />
                                    <h:selectOneMenu id="idRol" value="#{usuarioControlador.usuario.idRol}" title="IdRol" required="true" requiredMessage="The IdRol field is required.">
                                        <!-- TODO: update below reference to list of available items-->
                                        <f:selectItems value="#{rolControlador.listaRoles()}" var="rol" itemLabel="#{rol.nombreRol}"/>
                                    </h:selectOneMenu>
                                </h:panelGrid>
                                <script>
                                        $('#fechaNacimiento').datepicker({
                                            language : "es",
                                            minDate: new Date()
                                        })
                                    </script>
                                <h:commandButton class="boton boton-azul" value="Registrar" action="#{usuarioControlador.registrarUsuario()}">
                                </h:commandButton>
                                <h:message for="numeroCedula"/>
                                <h:messages id="global" showDetail="true" errorStyle="display:none" showSummary="true"/>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>

