<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">


    <ui:define name="scripts">
        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(2)}"/>
        <h:outputScript name="js/chart.js"/>
        <script>
            $(document).ready(function () {
                $('#tabla-componentes').DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    </ui:define>


    <ui:define name="titulo-pagina">
        Lista de ordenes
    </ui:define>

    <ui:define name="descripcion-pagina">
        Contiene la lista de las ordenes.
    </ui:define>

    <ui:define name="breadcrumb">
        <h:link value="inicio"/>
        <span>Lista ordenes</span>
    </ui:define>

    <ui:define name="contenido-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel">
                        <div class="titulo-panel">
                            Órdenes pendientes
                        </div>
                        <div class="contenido-panel">
                            <h:form >
                                <canvas id="myChart" width="200" height="200"></canvas>
                                <script>
                                    var ctx = document.getElementById("myChart");
                                    var myChart = new Chart(ctx, {
                                        type: 'doughnut',
                                        data: {
                                            labels: ["Pendiente Mantenimiento", "Pendiente revision"],
                                            datasets: [{
                                                    label: '# of Votes',
                                                    data: [#{graficaListaOrdenesControlador.pendienteMantenimiento}, #{graficaListaOrdenesControlador.pendienteRevision}],
                                                    backgroundColor: [
                                                        '#00A1CB',
                                                        '#444'
                                                    ]
                                                }]
                                        },
                                        options: {
                                            global: {
                                                responsive: true,
                                                maintainAspectRatio: false
                                            },
                                            legend: {
                                                display: false
                                            }

                                        }
                                    });
                                </script>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="panel">
                        <div class="titulo-panel">
                            Falla en Sistema
                        </div>
                        <div class="contenido-panel" style="max-width:800px; max-height:270px; min-height:269px">
                            <h:form >
                                <canvas id="myart" width="800" height="266"></canvas>
                                <script>
                                    var ctx = document.getElementById("myart");
                                    var data = {
                                        labels: ["Inyección", "Eléctrico", "Suspención", "Lubricación", "Refrigeración", "Dirección"],
                                        datasets: [
                                            {
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.2)',
                                                    'rgba(54, 162, 235, 0.2)',
                                                    'rgba(255, 206, 86, 0.2)',
                                                    'rgba(75, 192, 192, 0.2)',
                                                    'rgba(153, 102, 255, 0.2)',
                                                    'rgba(255, 159, 64, 0.2)'
                                                ],
                                                data: [
                                    #{graficaMotivoListaOrdenesControlador.mostrarMotivo(1)},
                                    #{graficaMotivoListaOrdenesControlador.mostrarMotivo(2)},
                                    #{graficaMotivoListaOrdenesControlador.mostrarMotivo(3)},
                                    #{graficaMotivoListaOrdenesControlador.mostrarMotivo(4)},
                                    #{graficaMotivoListaOrdenesControlador.mostrarMotivo(5)},
                                    #{graficaMotivoListaOrdenesControlador.mostrarMotivo(6)}
                                                ]
                                            }
                                        ]
                                    };
                                    var myChart = new Chart(ctx, {
                                        type: 'horizontalBar',
                                        data: data,
                                        options: {
                                            global: {
                                                responsive: true,
                                                maintainAspectRatio: false
                                            },
                                            legend: {
                                                display: false
                                            },
                                            scales: {
                                                xAxes: [{
                                                        ticks: {
                                                            beginAtZero: true,
                                                            callback: function(value) {if (value % 1 === 0) {return value;}}
                                                        }
                                                    }]
                                            }
                                        }
                                    });
                                </script>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row end-xs">
                <div class="col-xs-12">
                    <div class="panel panel-negro panel-tabla">
                        <div class="contenido-panel">
                            <h:form prependId="false">
                                <h:dataTable value="#{ordenControlador.listaOrdenes()}" var="item" id="tabla-componentes">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número de ordén"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idOrden}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Tipo ordén"/>
                                        </f:facet>
                                        <h:outputText value="#{ordenControlador.tipoOrden(item.tipoOrden)}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Motivo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idMotivo.motivo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Vehículo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idVehiculo.matricula}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Plazo máximo"/>
                                        </f:facet>
                                        <h:outputText value="#{ordenControlador.fechaEmisionCaracteres(item.plazoMaximo)}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="ver ficha técnica"/>
                                        </f:facet>
                                        <h:commandLink action="#{ordenControlador.verFichaOrden(item)}" value="Detalle de orden"></h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </ui:define>

</ui:composition>
