<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tabla-componentes').DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    </ui:define>


    <ui:define name="titulo-pagina">
        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(3)}"/>
        Lista de vehiculos
    </ui:define>

    <ui:define name="descripcion-pagina">
        Contiene la lista de los vehículos registrados.
    </ui:define>

    <ui:define name="breadcrumb">
        <h:link value="inicio"/>
        <span>Lista vehículos</span>
    </ui:define>            
    <ui:define name="contenido-main">
        <div class="container">
            <div class="row start-xs">
                <div class="panel panel-transparente col-xs-12 end-xs">
                    <h:link class="boton boton-verde boton-sm" outcome="/protegido/vehiculo/nuevovehiculo.mpc" rendered="#{permisosSessionControlador.tienePermiso(6)}"><i class="fa fa-plus fa-fw"></i>Registrar Vehículo</h:link>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                    <div class="panel panel-negro panel-tabla">
                        <div class="contenido-panel">
                        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(3)}"></f:event>
                            <h:form prependId="false">
                                <h:dataTable value="#{vehiculoControlador.listaVehiculos()}" var="item" id="tabla-componentes">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Matricula"/>
                                        </f:facet>
                                        <h:outputText value="#{item.matricula}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Modelo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.modelo}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Marca"/>
                                        </f:facet>
                                        <h:outputText value="#{item.marca}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Tipo de vehículo"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idTipoVehiculo.nombreTipoVehiculo}"/>
                                    </h:column>
                                    <h:column rendered="#{permisosSessionControlador.tienePermiso(11)}">
                                        <f:facet name="header">
                                            <h:outputText value="Ficha Técnica"/>
                                        </f:facet>
                                        <h:commandLink action="#{vehiculoControlador.capturaVehiculo(item)}" value="Ficha Técnica"/>
                                    </h:column>
                                </h:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>



  