<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="breadcrumb">
        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(6)}"/>
        <h:link outcome="listavehiculos.mpc" value="Inicio" />
        <h:link outcome="listavehiculos.mpc" value="Lista vehículos"/>
        <span>Registrar vehículo</span>
    </ui:define>

    <ui:define name="contenido-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-negro">
                        <div class="titulo-panel">
                            <i class="fa fa-key"></i> Registro del vehículo
                        </div>
                        <div class="contenido-panel">
                            <h:form class="form-horizontal" enctype="multipart/form-data">
                                <h:messages showDetail="true" showSummary="true"/>
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Matricula:" for="matricula" />
                                    <h:inputText id="matricula" value="#{registrarVehiculoControlador.vehiculo.matricula}" title="Matricula" required="true" requiredMessage="The Matricula field is required."/>
                                    <h:outputLabel value="Modelo:" for="modelo" />
                                    <h:inputText id="modelo" value="#{registrarVehiculoControlador.vehiculo.modelo}" title="Modelo" required="true" requiredMessage="The Modelo field is required."/>
                                    <h:outputLabel value="Marca:" for="marca" />
                                    <h:inputText id="marca" value="#{registrarVehiculoControlador.vehiculo.marca}" title="Marca" required="true" requiredMessage="The Marca field is required."/>
                                    <h:outputLabel value="Color:" for="color" />
                                    <h:inputText id="color" value="#{registrarVehiculoControlador.vehiculo.color}" title="Color" required="true" requiredMessage="The Color field is required."/>
                                    <h:outputLabel value="Numero de chasis:" for="numeroChasis" />
                                    <h:inputText id="numeroChasis" value="#{registrarVehiculoControlador.vehiculo.numeroChasis}" title="NumeroChasis" />
                                    <h:outputLabel value="Tonelaje Máximo:" for="tonelajeMax" />
                                    <h:inputText id="tonelajeMax" value="#{registrarVehiculoControlador.vehiculo.tonelajeMax}" title="TonelajeMax" />
                                    <h:outputLabel value="Kilometraje:" for="kilometraje" />
                                    <h:inputText id="kilometraje" value="#{registrarVehiculoControlador.vehiculo.kilometraje}" title="Kilometraje" required="true" requiredMessage="The Kilometraje field is required."/>
                                    <h:outputLabel value="Combustible:" for="combustible" />
                                    <h:inputText id="combustible" value="#{registrarVehiculoControlador.vehiculo.combustible}" title="Combustible" required="true" requiredMessage="The Combustible field is required."/>
                                    <h:outputLabel value="Ciudad:" for="idCiudad" />
                                    <h:selectOneMenu id="idCiudad" value="#{registrarVehiculoControlador.vehiculo.idCiudad}" title="IdCiudad" required="true" requiredMessage="The IdCiudad field is required.">
                                        <!-- TODO: update below reference to list of available items-->
                                        <f:selectItems value="#{ciudadControlador.listaCiudades()}" var="ciudad" itemLabel="#{ciudad.nombreCiudad}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Tipo de vehículo:" for="idTipoVehiculo" />
                                    <h:selectOneMenu id="idTipoVehiculo" value="#{registrarVehiculoControlador.vehiculo.idTipoVehiculo}" title="IdTipoVehiculo" required="true" requiredMessage="The IdTipoVehiculo field is required.">
                                        <!-- TODO: update below reference to list of available items-->
                                        <f:selectItems value="#{tipoVehiculoControlador.listaTipoVehiculos()}" var="tv" itemLabel="#{tv.nombreTipoVehiculo}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="Foto vehículo"/>
                                    <h:inputFile value="#{registrarVehiculoControlador.file}"></h:inputFile>
                                </h:panelGrid>
                                <h:commandLink action="#{registrarVehiculoControlador.registrarVehiculo()}" class="boton boton-azul"><i class="fa fa-check fa-fw"></i>Registrar Vehiculo</h:commandLink>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
