<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="contenido-main">
        <f:event type="preRenderView" listener="#{permisosSessionControlador.noPermiso(2)}"/>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-negro">

                        <div class="titulo-panel row middle-xs">
                            <div class="col-xs-12 col-md-6">
                                <h:form>
                                    <h:commandLink class="blanco" action="#{vehiculoControlador.capturaVehiculo(fichaOrdenControlador.orderFicha.idVehiculo)}" value="#{fichaOrdenControlador.orderFicha.idVehiculo.matricula}"/> - Orden de #{ordenControlador.tipoOrden(fichaOrdenControlador.orderFicha.tipoOrden)}
                                </h:form>
                            </div>
                            <div class="col-xs-12 col-md-6 row end-xs">
                                <h:form>
                                    <h:commandLink rendered="#{fichaOrdenControlador.orderFicha.estadoOrden==1}" class="boton boton-verde boton-xs"><i class="fa fa-check"></i> Activar</h:commandLink>
                                    <h:commandLink rendered="#{fichaOrdenControlador.orderFicha.estadoOrden==2}" class="boton boton-rojo boton-xs"><i class="fa fa-check"></i> Cancelas</h:commandLink>
                                    <h:commandLink rendered="#{fichaOrdenControlador.orderFicha.estadoOrden==2}" class="boton boton-azul boton-xs"><i class="fa fa-check"></i> Finalizar</h:commandLink>
                                </h:form>
                            </div>
                        </div>
                        <div class="contenido-panel">
                            <f:view>
                                <h:form class="descripcion-horizontal">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Estado de la orden:"/>
                                        <h:outputText value="#{ordenControlador.estadoOrden(fichaOrdenControlador.orderFicha.estadoOrden)}" title="EstadoOrden"/>
                                        <h:outputText value="Fecha de emision:"/>
                                        <h:outputText value="#{ordenControlador.fechaEmisionCaracteres(fichaOrdenControlador.orderFicha.fechaEmision)}" title="PlazoMaximo"/>
                                        <h:outputText value="Plazo máximo:"/>
                                        <h:outputText value="#{ordenControlador.fechaEmisionCaracteres(fichaOrdenControlador.orderFicha.plazoMaximo)}" title="PlazoMaximo"/>
                                        <h:outputText value="Motivo:"/>
                                        <h:outputText value="#{fichaOrdenControlador.orderFicha.idMotivo.motivo}" title="IdMotivo"/>
                                        <h:outputText value="Creado por :"/>
                                        <h:commandLink value="#{fichaOrdenControlador.orderFicha.idUsuario.nombres} #{fichaOrdenControlador.orderFicha.idUsuario.apellidos}" title="IdUsuario"
                                                       action="#{fichaOrdenControlador.verUsuario(fichaOrdenControlador.orderFicha.idUsuario)}"/>
                                        <h:outputText value="Vehiculo:"/>
                                        <h:outputText value="#{fichaOrdenControlador.orderFicha.idVehiculo.matricula}" title="IdVehiculo"/>
                                    </h:panelGrid>
                                </h:form>
                            </f:view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>