<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"/>
        <h:outputStylesheet name="css/libs/flexboxgrid.min.css"/>
        <h:outputStylesheet name="css/mpc/global.mpc.css"/>
        <h:outputStylesheet name="css/mpc/datatable.mpc.css"/>
        <h:outputStylesheet name="css/mpc/botones.css"/>
        <h:outputStylesheet name="css/mpc/formularios.css"/>

        <meta name="viewport" content="width=device-width, initial-sca0le=1.0"/>
        <h:outputScript name="js/jquery.js"/>
        <h:outputScript name="js/datatables.js"/>
        <h:outputScript name="js/mpc.js"/>
        <title>Sistema mpc</title>

        <ui:insert name="scripts">

        </ui:insert>
    </h:head>

    <h:body>
        <header>
            <div class="logo">
                <i class="fa fa-bars mover-aside-i"></i>
                <a href="#">Sistema<span>MPC</span></a>
            </div>
            <div class="usuario">
                <h4><i class="fa fa-user"></i>#{usuarioSesionControlador.usuarioSesion.nombres} #{usuarioSesionControlador.usuarioSesion.apellidos}</h4>
            </div>
        </header>
        <div id="mensajes">
            <ui:insert name="mensajes">
            </ui:insert>
        </div>
        <div class="contenido">
            <aside id="aside">
                <ul class="nav">
                    <ui:repeat value="#{permisosSessionControlador.permisosMenu()}" var="permiso">
                        <li>
                            <h:link outcome="#{permisosSessionControlador.obtenerUrl(permiso)}">
                                <i class="#{permiso.icono}"></i>
                                #{permiso.nombrePermiso}
                            </h:link>
                        </li>
                    </ui:repeat>
                    <h:form>
                        <li>
                            <h:commandLink action="#{loginControlador.cerrarSesion()}"><i class="fa fa-sign-out"></i> Cerrar sesión</h:commandLink>
                        </li>
                    </h:form>
                </ul>
            </aside>
            <main id="main">
                <div class="cabezera">
                    <div class="crops">
                        <ui:insert name="foto-perfil">
                        </ui:insert>
                        <div class="titulo-descripcion">
                            <h1 id="titulo-pagina">
                                <ui:insert name="titulo-pagina">
                                </ui:insert>
                            </h1>
                            <p id="descripcion-pagina">
                                <ui:insert name="descripcion-pagina">
                                </ui:insert>
                            </p>
                        </div>
                    </div>
                    <div id="breadcrumb">
                        <ui:insert name="breadcrumb">
                        </ui:insert>
                    </div>
                </div>
                <div id="contenido-main">
                    <ui:insert name="contenido-main">
                    </ui:insert>
                </div>
            </main>
        </div>
    </h:body>

</html>
