<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top" class="top">
            <ui:insert name="top">
                #{session.getAttribute("usuario").getNombres()}
                <h:form>
                    <ul>
                        <ui:repeat value="#{permisosSessionControlador.permisosMenu()}" var="permiso">
                            <li>
                                <h:link outcome="#{permisosSessionControlador.obtenerUrl(permiso)}">
                                    <i class="#{permiso.icono}"></i>
                                    <span>#{permiso.nombrePermiso}</span>
                                </h:link>
                            </li>
                        </ui:repeat>
                    </ul>
                </h:form>
                <h:form>
                    <h:commandButton value="cerrar sesión" action="#{loginControlador.cerrarSesion()}"/>
                </h:form>
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>

</html>
