<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="breadcrumb">
        <h:link outcome="listacomponentes.mpc" value="Inicio" />
        <h:link outcome="listacomponentes.mpc" value="Lista componentes"/>
        <span>Registrar componente</span>
    </ui:define>

    <ui:define name="contenido-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="panel panel-negro">
                        <div class="titulo-panel">
                            <i class="fa fa-cog"></i> Registro del componente
                        </div>
                        <div class="contenido-panel">
                            <h:form class="form-horizontal">
                                <h:panelGrid columns="2" >
                                    <h:outputLabel value="Nombre del componente:" for="nombreComponente" />
                                    <h:inputText id="nombreComponente" value="#{registrarComponenteControlador.componente.nombreComponente}" title="NombreComponente" required="true" requiredMessage="The NombreComponente field is required."/>
                                    <h:outputLabel value="Vida útil:" for="vidaUtil" />
                                    <h:panelGrid columns="2">
                                        <h:selectOneMenu value="#{registrarComponenteControlador.componente.vidaUtil}" title="VidaUtil" required="true" requiredMessage="The VidaUtil field is required.">
                                            <f:selectItem itemValue="#{null}" itemLabel="Seleccione un valor"/>
                                            <f:selectItem itemValue="1" itemLabel="1"/>
                                            <f:selectItem itemValue="2" itemLabel="2"/>
                                            <f:selectItem itemValue="3" itemLabel="3"/>
                                            <f:selectItem itemValue="4" itemLabel="4"/>
                                            <f:selectItem itemValue="5" itemLabel="5"/>
                                            <f:selectItem itemValue="6" itemLabel="6"/>
                                            <f:selectItem itemValue="7" itemLabel="7"/>
                                            <f:selectItem itemValue="8" itemLabel="8"/>
                                            <f:selectItem itemValue="9" itemLabel="9"/>
                                            <f:selectItem itemValue="10" itemLabel="10"/>
                                            <f:selectItem itemValue="11" itemLabel="11"/>
                                            <f:selectItem itemValue="12" itemLabel="12"/>
                                        </h:selectOneMenu>
                                        <h:selectOneMenu value="#{registrarComponenteControlador.componente.aniosMeses}">
                                            <f:selectItem itemValue="#{null}" itemLabel="Seleccione un mes o año"/>
                                            <f:selectItem itemValue="month" itemLabel="Meses"/>
                                            <f:selectItem itemValue="years" itemLabel="Años"/>
                                        </h:selectOneMenu>
                                    </h:panelGrid>
                                    <h:outputLabel value="Categoria del componente:" for="idCategoriaComponenteComponente" />
                                    <h:selectOneMenu id="idCategoriaComponenteComponente" value="#{registrarComponenteControlador.componente.idCategoriaComponenteComponente}" title="IdCategoriaComponenteComponente" required="true" requiredMessage="The IdCategoriaComponenteComponente field is required.">
                                        <!-- TODO: update below reference to list of available items-->
                                        <f:selectItems value="#{categoriaComponenteControlador.listaCategoriasComponentes()}" var="lCC" itemLabel="#{lCC.nombreCategoriaComponente}"/>
                                    </h:selectOneMenu>
                                </h:panelGrid>
                                <h:commandLink type="submit" class="boton boton-azul" action="#{registrarComponenteControlador.registrarComponente()}"><i class="fa fa-check fa-fw"></i>Registrar componente</h:commandLink> 
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>


