<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../../WEB-INF/templates/mpcPruebaTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="contenido-main">
        <f:view>


            <h:form>
                <h1><h:outputText value="View"/></h1>
                
                <h:panelGrid columns="2">
                    <h:outputText value="IdUsuario:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.idUsuario}" title="IdUsuario"/>
                    <h:outputText value="EstadoUsuario:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.estadoUsuario}" title="EstadoUsuario"/>
                    <h:outputText value="NumeroCedula:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.numeroCedula}" title="NumeroCedula"/>
                    <h:outputText value="Clave:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.clave}" title="Clave"/>
                    <h:outputText value="Nombres:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.nombres}" title="Nombres"/>
                    <h:outputText value="Apellidos:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.apellidos}" title="Apellidos"/>
                    <h:outputText value="FechaNacimiento:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.fechaNacimiento}" title="FechaNacimiento">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="Direccion:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.direccion}" title="Direccion"/>
                    <h:outputText value="CorreoElectronico:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.correoElectronico}" title="CorreoElectronico"/>
                    <h:outputText value="Idioma:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.idioma}" title="Idioma"/>
                    <h:outputText value="FotoPerfil:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.fotoPerfil}" title="FotoPerfil"/>
                    <h:outputText value="IdCiudad:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.idCiudad}" title="IdCiudad"/>
                    <h:outputText value="IdRol:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.idRol}" title="IdRol"/>
                    <h:outputText value="Conductor:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.conductor}" title="Conductor"/>
                    <h:outputText value="LlavePrimaria:"/>
                    <h:outputText value="#{perfilUsuarioControlador.usuarioPerfil.llavePrimaria}" title="LlavePrimaria"/>
                </h:panelGrid>
            </h:form>
        </f:view>

    </ui:define>

</ui:composition>