<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:event type="preRenderView" listener="#{usuarioControlador.transacionRegistro()}"/>
        <f:view>
            <h:form>
                <h1><h:outputText value="View"/></h1>
                <h:panelGrid columns="2">
                    <h:outputText value="NumeroCedula:"/>
                    <h:outputText value="#{usuarioControlador.usuario.numeroCedula}" title="NumeroCedula"/>
                    <h:outputText value="Clave:"/>
                    <h:outputText value="#{usuarioControlador.usuario.clave}" title="Clave"/>
                    <h:outputText value="Nombres:"/>
                    <h:outputText value="#{usuarioControlador.usuario.nombres}" title="Nombres"/>
                    <h:outputText value="Apellidos:"/>
                    <h:outputText value="#{usuarioControlador.usuario.apellidos}" title="Apellidos"/>
                    <h:outputText value="FechaNacimiento:"/>
                    <h:outputText value="#{usuarioControlador.usuario.fechaNacimiento}" title="FechaNacimiento">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="Direccion:"/>
                    <h:outputText value="#{usuarioControlador.usuario.direccion}" title="Direccion"/>
                    <h:outputText value="CorreoElectronico:"/>
                    <h:outputText value="#{usuarioControlador.usuario.correoElectronico}" title="CorreoElectronico"/>
                    <h:outputText value="Idioma:"/>
                    <h:outputText value="#{usuarioControlador.usuario.idioma}" title="Idioma"/>
                    <h:outputText value="IdCiudad:"/>
                    <h:outputText value="#{usuarioControlador.usuario.idCiudad.nombreCiudad}" title="IdCiudad"/>
                    <h:outputText value="IdRol:"/>
                    <h:outputText value="#{usuarioControlador.usuario.idRol.nombreRol}" title="IdRol"/>
                </h:panelGrid>


                <h:form>
                    <h1><h:outputText value="Create/Edit"/></h1>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="NumeroLicencia:" for="numeroLicencia" />
                        <h:inputText id="numeroLicencia" value="#{usuarioControlador.conductor.numeroLicencia}" title="NumeroLicencia" required="true" requiredMessage="The NumeroLicencia field is required."/>
                        <h:outputLabel value="FechaVenicimientoLicencia:" for="fechaVenicimientoLicencia" />
                        <h:inputText id="fechaVenicimientoLicencia" value="#{usuarioControlador.conductor.fechaVenicimientoLicencia}" title="FechaVenicimientoLicencia" required="true" requiredMessage="The FechaVenicimientoLicencia field is required.">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:inputText>
                        <h:outputLabel value="IdCategoriaLicencia:" for="idCategoriaLicencia" />
                        <h:selectOneMenu id="idCategoriaLicencia" value="#{usuarioControlador.conductor.idCategoriaLicencia}" title="IdCategoriaLicencia" required="true" requiredMessage="The IdCategoriaLicencia field is required.">
                            <!-- TODO: update below reference to list of available items-->
                            <f:selectItems value="#{categoriaLicenciaControlador.listaCategoriasLicencias()}" var="cl" itemLabel="#{cl.nombreCategoria}"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <h:commandButton value="Registrar conductor" action="#{usuarioControlador.registrarConductor()}"/>
                </h:form>

            </h:form>
        </f:view>

    </h:body>
</html>

