<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  
       template="WEB-INF/resources/css/mpc/botones"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns="http://www.w3.org/1999/xhtml">
    <link href="resources/css/mpc/formularios.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/mpc/datatable.mpc.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/mpc/botones.css" rel="stylesheet" type="text/css"/>
    <h:head>
        <title>Inicio de sesión</title>
    </h:head>
    <h:body  id="body" style="background-image: url(resources/archivos/inicio.jpg);background-size: cover;">
        <style>
            #formulario{
                border-radius: 10px 10px 10px 10px;
                background-color: white; 
                margin-left: 35em;
                margin-top: 1em;
                box-shadow: 12px 12px 6px 0px rgba(0,0,0,0.80);
            }
        </style>
        <main id="main">
            <h:graphicImage value = "resources/archivos/logotipo.png" style="width:18em; height: 8em; margin-top: 10em; margin-left: 38em;"/> 
        <f:view>
            <h:panelGrid columns="2" id="formulario">
            <h:form class="form-horizontal panel-negro" >
                <h:messages globalOnly="true" errorStyle="display:none" showDetail="true" id="msgs"/>
                <h:panelGrid columns="2">
                    <h:outputLabel class="center-md" style="color:black;" for="ncedula" value="Número de cédula"/>
                    <h:inputText style="width:15em;" id="ncedula" value="#{loginControlador.numeroCedula}"/>
                    <h:outputLabel for="clave" style="color:black;" value="Clave"/>
                    <h:inputSecret style="width:15em;" id="clave" value="#{loginControlador.clave}"/>
                </h:panelGrid>
                <h:commandButton class="boton boton-verde" style="background-color: #198B72; width: 15em; margin-left: 6em;" value="Iniciar sesión" action="#{loginControlador.iniciarSesion()}">
             </h:commandButton>
            </h:form>
           </h:panelGrid>
        </f:view>
       </main>
    </h:body>
</html>

